.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
parser.out
parsetab.py
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
test/waves/
test_dsm/*
test_cocotb/*
.venv/

*project_plan.md